<header class="header-6">
    <div class="branding">
        <a class="active nav-link nav-text">Student </a>
    </div>
    <div class="header-nav">

        <a class="active nav-link nav-text" routerLink="contact" routerLinkActive="active">Contact</a>
        <a class="active nav-link nav-text" routerLink="crisis" routerLinkActive="active">Crisis Center</a>
        <a class="active nav-link nav-text" routerLink="students" routerLinkActive="active">Students</a>
    </div>
    <div class="header-actions">
        <clr-dropdown class="dropdown bottom-right">
            <app-title [subtitle]="subtitle"></app-title>
            <button class="nav-text" clrDropdownToggle>
                demo_ABC
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
                <a href="..." clrDropdownItem>Preferences</a>
                <a href="..." clrDropdownItem>Log out</a>
            </div>
        </clr-dropdown>
    </div>

</header>

<div class="container ">
    <div class="row">
        <div class="col pt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>