<div class="card">
    <div class="card-header">
        Students List
    </div>
    <div class="card-block p-0">
        <!--<small *ngIf="msg" class="msg">{{msg}}</small>  -->
        <table class="table table-collapsed">
            <thead>
                <tr>
                    <td> <i class="fa fa-address-book-o" aria-hidden="true"></i> Id</td>
                    <td> <i class="fa fa-instagram" aria-hidden="true"></i> Name</td>
                    <td> <i class="fa fa-steam" aria-hidden="true"></i> Standard</td>
                    <td> <i class="fa fa-adn" aria-hidden="true"></i> Div</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let student of studentes | async'>
                    <td scope="row"> <i class="fa fa-address-book-o" aria-hidden="true"></i>
                        <a routerLink="{{student.id}}">  {{student.id}} </a>
                    </td>
                    <td>{{student.name}}</td>
                    <td>{{student.std}}</td>
                    <td>{{student.div}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>