<ul class="nav flex-column">
    <li class="nav-item active">
        <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="crisis" routerLinkActive="active">Crisis Center</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="students" routerLinkActive="active">Students</a>
    </li>
</ul>